pandas==2.2.1
numpy==1.26.4
seaborn==0.13.2
streamlit==1.32.0
scikit-learn==1.4.1.post1
xgboost==2.0.3
PyPDF2==3.0.1
nltk==3.8.1
transformers
gensim==4.3.2
beautifulsoup4==4.12.3
opencv-python==4.9.0.80
mediapipe==0.10.11
plotly==5.19.0
langchain==0.1.11
langchainhub==0.1.15
python-dotenv==1.0.1
wordcloud==1.9.2