pandas==2.2.1
numpy==1.26.4
seaborn==0.13.2
streamlit==1.32.0
scikit-learn==1.4.1.post1
plotly==5.19.0
xgboost==2.0.3
PyPDF2==3.0.1
nltk==3.8.1
category_encoders==2.6.3
transformers==4.38.2
gensim==4.3.2
beautifulsoup4==4.12.3
opencv-python==4.10.0.84
mediapipe==0.10.11
plotly==5.19.0
python-dotenv==1.0.1
langchain==0.1.11
langchain-pinecone==0.1.1
youtube-transcript-api==0.6.2
together==1.2.7
fpdf==1.7.2
